<h1></h1>
<%= button_to '記録',new_diary_path, method: :get %>
<%= month_calendar diaries: @diaries do |date, diaries| %>
  <%= date %>
  <% diaries.each do |diary| %>
    <div>
      <%= diary.name %>
    </div>
  <% end %>
<% end %>
