<h2>アプリの使い方</h2>
  <div>
  <ol>
    <li>
    [今食べたおさかな登録]ボタン、または登録したいカレンダーの日付をクリックし、おさかな登録画面に移ります。<br>
    記録が無い日のページに移った場合、[この日食べたおさかなを登録]をクリックします。<br>
    </li>
    <li>
    おさかな登録画面で、魚を選択します。<br>
    </li>
    <li>
    続いて量を入力します。<br>
    </li>
    <li>
    登録ボタンを押します。[この魚をお気に入りに追加]チェックを入れると、お気に入りに登録できます。<br>
    お気に入りは、次回から選択できるようになります。<br>
    もしお気に入りを削除したいときは、[お気に入りを削除]のリンクをクリックし、魚を選択・削除します。<br>
    </li>
    <li>
    おさかな記録のページでは、登録した日の詳細を見ることができます。<br>
    </li>
    <li>
    トップページに戻り、グラフを確認しましょう。直近1週間のn-3系脂肪酸および水銀の、合計を見ることができます。<br>
    </li>
  </ol>
  <h2>おさかなについて</h2>
  <p>おさかなのn-3系脂肪酸・ビタミンAは、文部科学省の食品成分表データを使用しています。<br>
    食品成分表：<%= link_to"https://www.mext.go.jp/a_menu/syokuhinseibun/mext_01110.html" %>
  </p>
  <p>おさかなの水銀量は、厚生労働省の情報を元に、1週間の上限を100%として示しています。<br>
    魚介類に含まれる水銀について：<%= link_to"https://www.mhlw.go.jp/topics/bukyoku/iyaku/syoku-anzen/suigin/" %>
  </p>
  </div>
