<h1>このアプリについて</h1>
<div id="content">
魚介類は、赤ちゃんの発育に必要な、DHAなどの栄養素の補給源になります。<br>
その一方で、メチル水銀やビタミンAなど、過剰に摂取すると赤ちゃんの発育に<br>
悪影響を及ぼす物質も含んでおり、妊婦さんにとっては食べ方が分かりづらい<br>
食品です。<br>
このアプリを使うと、食べた魚をカレンダーに登録するだけで、DHAや、控える<br>
べき水銀量が、グラフによって一目でわかります。<br>
登録は、お好きなニックネームとパスワードのみです。<br>
ぜひご活用下さい。
</div>
