
<h2 class="vertical-left root-caption">おさかなモニターとは</h2>
<br>
<div id="top-content">
<p>
魚介類は、赤ちゃんの発育に必要な、n-3系脂肪酸（DHA・EPA）など栄養素の補給源になります。<br>
その一方で、メチル水銀やビタミンAなど、過剰に摂取すると赤ちゃんの発育に悪影響を及ぼす物質も含んでおり<br>
妊婦さんにとっては食べ方が分かりづらい
食品です。</p>
<br>
<p class="top-image-title">おさかなモニター<br>グラフとカレンダーが見られる　（イメージ）</p>
<div class="top-image"><%= image_tag 'about-app.png', class: 'appphoto-on-top' %></div>
<br>
<p>
このアプリを使うと、食べた魚をカレンダーに登録するだけで、n-3系脂肪酸や、控えるべき水銀量が、グラフによって<br>
一目でわかります。<br><br>
ユーザー登録は、ニックネームとパスワード、出産予定日（任意）のみです。<br>
ぜひご活用下さい。</p>
</div>
