
<h2 class="vertical-left root-caption">おさかなモニターとは</h2>
<br>
<div id="top-content">
<p>
魚介類は、赤ちゃんの発育に必要な、n-3系脂肪酸（DHA・EPA）の補給源になります。<br>
その一方、メチル水銀やビタミンAなど、摂りすぎると赤ちゃんの発育に悪影響を及ぼす物質も含んでおり<br>
妊婦さんは食べ方が分かりづらい食品です。</p>
<br>
<p class="top-image-title">おさかなモニター<br>  グラフ&カレンダ( イメージ )</p>
<div class="top-image"><%= image_tag 'about-app.png', class: 'appphoto-on-top' %></div>
<br>
<p>
このアプリでは、食べた魚をカレンダーに登録するだけで、n-3系脂肪酸や水銀量が、グラフで一目でわかり<br>
ます。<br><br>
ユーザー登録は、ニックネームとパスワード、出産予定日（任意）のみです。<br>
ぜひご活用下さい。</p>
</div>
