<h1>このアプリについて</h1>
<div>
魚介類は、赤ちゃんの発育に必要な、DHAなどの栄養素の補給源になります。<br>
その一方で、メチル水銀やビタミンAなど、過剰に摂取すると赤ちゃんの発育に<br>
悪影響を及ぼす物質も含んでおり、妊婦さんにとって悩ましい食べ物と言えます。<br>
このアプリを使うと、食べた魚をカレンダーに登録するだけで、DHAや、控えるべき水銀量が、<br>
グラフによって一目でわかります。<br>
登録は、お好きな名前(他のユーザーさんと重複がないように、なるべく英数字を含める)と<br>
パスワードのみです。<br>
ぜひご利用下さい。
</div>
