/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 // @import "custom";
// .nikukyu {
//   font-family: "Nico Moji";
//   font-size: 30px;
// }
// .logo_premama {
//   font-size: 20px;
//   color: blue;
//   margin: 0;
//   padding: 0;
// }
html {
    font-size: 100%;
}
body {
  color: #333333;
  font-family:"Muli","M PLUS Rounded 1c";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}
a {
  color: #4c4c4c;
  text-decoration: none;
}
a:hover {
  color: #FFB6B6
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.field_with_errors {
  display: contents;
}

.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
  flex: 2;
  margin-left: 25px;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
}
// .main-nav { flex: 3; }
.main-nav {
    flex: 5;
    margin-left: 7px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    border-bottom: dotted 8px #ccbba8;
}
.main-nav li {
    padding: 10px;
    margin-left: 7px;
}
.nav-right {
  display: flex;
}
// // .nav-button {
// //   background-color: #B0D5EC;
// // }
// // .nav-button a {
// //   color: #fff;
// }
.how-to-use {
  padding: 0;
  margin-left: 50px;
  font-size: 1.4rem;
}
.message {
  text-align: center;
  margin-top: 10px;
  padding: 0
}
.alert-error  {
  display:inline-block;
  // padding: 3px 5px;
  background-color: #B0D5EC;
  // border-color: #6C90C0;
  color: #2C4667;
}
.alert-notice {
  display:inline-block;
  // padding: 3px 5px;
  background-color: #B0D5EC;
  // border-color: #6C90C0;
  color: #2C4667;
}
#error_explanation h2{
  font-size: 0;
}
#error_explanation ul {
  text-align: center;
  background-color: #B0D5EC;
  // border-color: #6C90C0;
  color: #2C4667;
}

.content {
  display: flex;
  // width:
}
.chart {
  display: flex;
  flex-direction: column;
  background-color: #FFB6B6;
  border: solid 2px #FFB6B6;
  border-radius: 20px 10px 30px 40px;
  margin-right: 15px;
  padding: 10px;
  // height: 800px;
}
.chart-title {
  text-align: center;
  font-size: 1.4rem;

}
.unit {
  font-size: 1.2rem;
}
.target{
  text-align: center;
  font-size: 1.2rem;
}
.message-on-chart {
  text-align: center;
  font-size: 1.2rem;
  color: #ff8282;
}
.mercury-chart {
  background-color: #fff;
}
.n3-chart {
  background-color: #fff;
}
// .mercury-chart canvas{
//   background-color: #fff;
// }
// .n3-chart canvas {
//   background-color: white;
// }
.calendar {
  min-width: 900px;
}
footer {
  // border-top: dotted 4px #A88C6A;
  // color: #fff;
  margin-top: auto;
  text-align: center;
  background-color: #B0D5EC;
}
