/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 // @import "custom";
// .nikukyu {
//   font-family: "Nico Moji";
//   font-size: 30px;
// }
// .logo_premama {
//   font-size: 20px;
//   color: blue;
//   margin: 0;
//   padding: 0;
// }
html {
    font-size: 110%;
}
body {
  color: #4f4f4f;
  font-family:"Muli","M PLUS Rounded 1c";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
    margin: 0 auto;
    padding: 2% 3% 2% 3%;
}
a {
  color: #4c4c4c;
  text-decoration: none;
}
h2 {
  margin: 10px 40px;
  text-align: center;
  // font-family: "メイリオ";
}
h3 ,h4{
  text-align: center;
}

a {
  color: #4c4c4c;
  text-decoration: none;
}
a:hover {
  color: #FFB6B6;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
ol li {
  list-style-type: decimal;
}
table {
  margin: auto;
  border: solid 1px gray;
  border-spacing: 0;
	border-collapse: separate;
  border-radius: 4px;
}
th ,td {
  font-size: 1.1rem;
  padding: 0.2rem 1rem;
  text-align: center;
}
p {
  font-size: 1.1rem;
}
.vertical-center{
  text-align: center;
}
.vertical-left{
  text-align: left;
}

.border-btm{
  border-bottom: solid 1px #d3d3d3;
}
dl {
  text-align: center;
  border: solid 1px gray;
  border-radius: 4px;
  margin: 10px 12rem;
  // font-size: 1.2rem;
}
// .form {
//   min-width: 600px;
// }
.form tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // font-size: 1.2rem;
  // font-family: "メイリオ";
}
label {
    font-weight: normal;
}
.form td {
  margin-right: 10px;
  padding: 0.5rem 0;
}
.button_to {
  border-color: pink;
  // font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  margin: 10px;
  padding: 3px;
}
.link_to {
  font-size: 1.15rem;
}
#diary_fish_id ,#favorite_fish_id ,#diary_line, #line, #name {
  color: #4f4f4f;
}


// .checkbox {
//   width: 1.2rem;
// }

// .field {
//   text-align: center;
// }
// br {
// display: block;
// content: "";
// margin: 3px 0;
// }
// .field label {
//   margin: 10px;
// }
.field_with_errors {
  display: contents;
}

.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
  flex: 2;
  margin-left: 25px;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
}
// .main-nav { flex: 3; }
.main-nav {
    flex: 5;
    margin-left: 7px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    border-bottom: dotted 8px #ccbba8;
}
.main-nav li {
    padding: 10px;
    margin-left: 7px;
}
.nav-right {
  display: flex;
}
// // .nav-button {
// //   background-color: #B0D5EC;
// // }
// // .nav-button a {
// //   color: #fff;
// }
.how-to-use-link {
  font-size: 1.3rem;
  padding: 0;
  margin-left: 55px;
  // font-size: 1.4rem;
}
.message {
  text-align: center;

  margin-top: 10px;
  padding: 0
}
.alert-error  {
  display:inline-block;
  // padding: 3px 5px;
  background-color: #B0D5EC;
  // border-color: #6C90C0;
  color: #2C4667;
    border-radius: 0;
}
.alert-notice {
  display:inline-block;
  // padding: 3px 5px;
  // background-color: #B0D5EC;
  // border-color: #6C90C0;
  color: #4f4f4f
}
#error_explanation h2{
  font-size: 0;
}
#error_explanation ul {
  text-align: center;
  background-color: #B0D5EC;
  // border-color: #6C90C0;
  color: #2C4667;
}

.content {
  display: flex;
  // width:
}
.row-content div{
  float: left;
}


// .submit {
//   text-align: center;
// }
#edit-fish-btn {
  color: #4f4f4f;
}
.button {
  color: #4f4f4f;
}

.vertical-button {
  display: flex;
  justify-content: space-around;
}
.mybutton {
  text-decoration: none;
  text-align: center;
  color: #2C4667;
  background-color: #B0D5EC;
  border-color: #98cbe3;
  border-radius: 5px 10px 80px 40px;
  font-size: 1.3rem;
  font-weight: normal;
}

footer {
  // border-top: dotted 4px #A88C6A;
  // color: #fff;
  margin-top: auto;
  padding: 5px;
  text-align: center;
  background-color: #B0D5EC;
}
