.chart {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: #ffc2c2;
  border: solid 2px #FFB6B6;
  border-radius: 15px 14px 14px 15px;
  margin-right: 25px;
  padding: 10px 15px;
  // height: 800px;
}
.chart-title {
  text-align: center;
  font-size: 1.4rem;

}
.unit {
  font-size: 1.1rem;
}
.target{
  padding-top: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  // font-weight: bold;
}
.message-on-chart {
  text-align: center;
  font-size: 1.1rem;
  color: #ff8282;
}
.mercury-chart {
  background-color: #fff;
  border-radius: 5px;
}
.n3-chart {
  background-color: #fff;
  border-radius: 5px;
}
.about-tuna {
  font-size: 0.9rem;
}
// .mercury-chart canvas{
//   background-color: #fff;
// }
// .n3-chart canvas {
//   background-color: white;
// }
.calendar {
  min-width: 900px;
}
.fish-register {
  // background-color: #B0D5EC;
  padding :1rem 1rem 0.5rem 1rem;
  border: solid 10px #B0D5EC;
  border-radius: 15px;
  box-shadow: 0px 2px 3px #808080;
}
.fish_wrapper {
display: flex;
justify-content: flex-start;
padding: 0.6rem;
border-bottom: solid 5px #B0D5EC;
// background-color: #fff;
// border-radius: 20px;
}
.fish_content{
    margin-right: 40px;
}
.fish-amount {
  padding: 0.3rem;
  margin-left: 15px;
  border: solid 1px #c0c0c0;
  background-color: #fff;
  border-radius: 3px;
}
.fish-img {
  width: 120px;
  padding: 5px;
}
.show-wrapper {
  border: solid 6px #ccbba8;
  border-radius: 15px;
  box-shadow: 0px 2px 3px #808080;
}
.show-of-fish td {
  padding: 0.3rem 0.7rem;
  border-top: solid 2px #ccbba8;
}
.advice {
  width: 25rem;
  font-size: 0.9rem;
  text-align: left;
}
