.simple-calendar {
  width: 100%;
  padding: 8px 15px;
  // background-color: #ffd1d1;
  // border: solid 2px #FFB6B6;
  border-radius: 2px 3px 3px 2px;
  a {
    color: #4f4f4f;
  }
  span {
    // font-size: 1.1rem;
  }
  .calendar-heading {
    // font-size: 1.4rem;
    text-align: center;
  }
  .calendar-title {
    font-size: 1.1rem;
  }
  .day {
    font-size: 1.1rem;
    text-align: left;
    height: 10vh;
    padding: 5px;
    background-color: white;
    border-color: #a5a5a5;
  }
  .day a {
    font-size: 1.1rem;
  }
  .day_of_week{
    width: 14.2%;
    font-size: 1.1rem;
    text-align: center;
    background-color: #fff;
    border-color: #a5a5a5;
  }
  .date-wtapper{

  }
  .wday-0 {
    background-color: #FFEFF2;
    border-color: #b0c4dek;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: #e1f5fa;
  }
  .birthday {
    color: #FF8282;
    margin-left: 4px;
  }
  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #ededed;
  }
  .prev-month a {
    color: #9b9b9b;
  }
  .next-month {
    background-color: #ededed;
   }
   .next-month a{
    color: #9b9b9b;
    }
  .current-month {}

  .has-events {}
  .diary-fish-name{
    color: #37f;
    font-size: 1rem;
    // font-weight: bold;
  }
}
