// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_baby {
  width: auto;
  height: 60px;
}

.user_fish {
  width: 40px;
  height: auto;
}
