<h2>おさかな事典</h2>

<table class="fish-index-select">
  <tr>
    <th class="border-btm" class="fish-index-line">行</th>
    <th class="border-btm" class="fish-index-name">おさかな名</th>
  </tr>
  <tr>
    <td class="fish-index-line"><%= select_tag'line',options_for_select([["あ","あ"],["か","か"],["さ","さ"],["た","た"],["な","な"],["は","は"],["ま","ま"],["や","や"],["ら","ら"],["わ","わ"]]) %></td>
    <td class="fish-index-name"><%= select_tag'name',options_from_collection_for_select(@fishes, :id, :name) %></td>
  </tr>
</table>
<div>
  <table class="fish-index">
    <tr>
  <td colspan= 3 id="fish-name" class="border-btm">　</td>
</tr>
<tr>
  <th class="border-btm">n3系脂肪酸</th>
  <td class="value" id="fish-n3-oil"></td>
  <td class="unit">g</td>
</tr>
<tr>
  <th class="border-btm">ビタミンA</th>
  <td class="value" id="fish-vitamin-a"></td>
  <td class="unit">μgRAE</td>
</tr>
<tr>
  <th class="border-btm">水銀</th>
  <td class="value" id="fish-mercury"></td>
  <td class="unit" id="mercury-unit">%</td>
</tr>
<tr>
  <th>補足</th>
  <td colspan=2 id="fish-memo"></td>
</tr>

</table>
</div>
<script>
  $(function() {
    $('#line').change(function() {
      $.get({
        url: "/api/fishes.json",
        data: { line: $('#line').has('option:selected').val() }
      }).then(function(data) {
        console.log('data=%o', data);
        const $nameSelect = $('#name');
        $nameSelect.find('option[value!=""]').remove();
        data.fishes.forEach(function(fish) {
          $nameSelect.append('<option value="' + fish.id + '">' + fish.name + '</option>');
        });
      });
    });
    $('#name').change(function() {
      const fishId = $(this).val();
      if (!fishId) return;
      $.get({
        url: '/api/fishes/' + fishId + '.json',
      }).then(function(data) {
        const fish = data.fish;
        $('#fish-name').text(fish.name);
        if (fish.n3_oil_no_data){
          $('#fish-n3-oil').text('データなし');
        }else{
        $('#fish-n3-oil').text(fish.n3_oil);
      }
      if (fish.vitamin_a_tr){
        $('#fish-vitamin-a').text('Tr');
      }else if (fish.vitamin_a_no_data){
        $('#fish-vitamin-a').text('データなし');
      }else{
      $('#fish-vitamin-a').text(fish.vitamin_a);
    }
        if (fish.mercury == null){
          $('#fish-mercury').text('基準なし');
        }
        else
        {
        $('#fish-mercury').text(fish.mercury);
      }
        $('#fish-memo').text(fish.content);
      })
    });
    $('#name').click(function() {
      const fishId = $(this).val();
      if (!fishId) return;
      $.get({
        url: '/api/fishes/' + fishId + '.json',
      }).then(function(data) {
        const fish = data.fish;
        $('#fish-name').text(fish.name);
        if (fish.n3_oil_no_data){
          $('#fish-n3-oil').text('データなし');
        }else{
        $('#fish-n3-oil').text(fish.n3_oil);
      }
      if (fish.vitamin_a_tr){
        $('#fish-vitamin-a').text('Tr');
      }else if (fish.vitamin_a_no_data){
        $('#fish-vitamin-a').text('データなし');
      }else{
      $('#fish-vitamin-a').text(fish.vitamin_a);
    }
        if (fish.mercury == null){
          $('#fish-mercury').text('基準なし');
        }
        else
        {
        $('#fish-mercury').text(fish.mercury);
      }
        $('#fish-memo').text(fish.content);
      })
    });
  });
  </script>
