<h1>管理者画面 魚の編集</h1>
<%= form_with model: @fish, url: admin_fish_path, method: :put do |form| %>
<%= render partial: 'form', locals: { form: form } %>
<% end %>
<br>
<%= button_to 'この魚を削除', admin_fish_path(@fish.id), method: :delete %>
