<h1>管理者画面 魚の一覧</h1>
<%= select_tag'line',options_for_select([["あ","あ"],["か","か"],["さ","さ"],["た","た"],["な","な"],["は","は"],["ま","ま"],["や","や"],["ら","ら"],["わ","わ"]]) %>
<%= select_tag'name',options_from_collection_for_select(@fishes, :id, :name) %>
<%# :javaScript
  $(function() {
    $('#line').change(function() {
      $.get({
        url: "#{}",
        data: { publisher_id: $('#publisher_id').has('option:selected').val() }
      });
    });
  }); %>
