<h2>《管理者ページ》魚の一覧</h2>
<table>
  <tr>
    <th class="border-btm">行</th>
    <th class="border-btm">おさかな名</th>
    <th class="border-btm"></th>
  </tr>
  <tr>
    <td><%= select_tag'line',options_for_select([["あ","あ"],["か","か"],["さ","さ"],["た","た"],["な","な"],["は","は"],["ま","ま"],["や","や"],["ら","ら"],["わ","わ"]]) %></td>
    <td><%= select_tag'name',options_from_collection_for_select(@fishes, :id, :name) %></td>
    <td><button id="edit-fish-btn">選択した魚の編集</button></td>
  </tr>
</table>
<br>
<%= link_to '新規登録へ', new_admin_fish_path, method: :get %><br>
<%= link_to '戻る', admin_users_path, method: :get %>
<script>
  $(function() {
    $('#line').change(function() {
      $.get({
        url: "/api/fishes.json",
        data: { line: $('#line').has('option:selected').val() }
      }).then(function(data) {
        console.log('data=%o', data);
        const $nameSelect = $('#name');
        $nameSelect.find('option').remove();
        data.fishes.forEach(function(fish) {
          $nameSelect.append('<option value="' + fish.id + '">' + fish.name + '</option>');
        });
      });
    });
  });
  $(function(){
    $('#edit-fish-btn').click(function() {
      const fishId = $('#name').val();
  　　 console.log("fishId=%o", fishId);
      if (fishId) {
        window.location = '/admin/fishes/' + fishId + '/edit';
      } else {
        console.log("魚を選択してください。");
      }
    });
  });
  </script>
